$navbarLinkBackgroundActive: white;

@import "bootstrap";

body {
  margin-top: 65px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Qwigley', cursive; 
}

.nav li {
  font-family: 'Qwigley', cursive; 
  font-size: 2.3em;
}

.center {
  text-align: center;
}  

#home_sign_in {
  margin-top: 20px;
}

#remember_me{
  padding-top:10px;
  margin-left:15px;
  text-align: left;
}

.nav li {
  padding-top: 13px;
}

.nav > li.active {
  padding-top: 13px;
  background-color: none;
}

#exchage_rate{
  padding-top: 25px;
}